.left-col {
	float:left;
	width:200px;
}

.main-col{
	float:left;
	width:700px;
	
}


.left{
	float:left;
	margin-bottom:1px;
	border: 1px;
	

	
}

.left a{
	display: block;
	width: 200px;
	height: 100px;
	font-family:"Î¢ÈíÑÅºÚ";
	font-size: 16px;
	background-color: #eee;
    color: #000;
    text-decoration: none;
    text-alignment: center;
    display: block;
    line-height: 40px;
    padding-left: 10px;
    border: 1px #999;
	
	
}


.left a:hover{
    color: #008080;  
}

.left.chosen a {
	background-color: #008080;
	color: #eee;
	
}

.bc{
	margin-left:30px;
}
           
           
.header{
	background-color: #ccc;
	padding-bottom: 15px;
	padding-top: 10px;
	padding-left: 30px;
	margin-left: 30px;
}

.headImg{
	position:relative;
	height: 30px;
    width: 30px;
	
	
}

.headImg img{
	border-radius=15px;
}

.caret{
	border-width:8px;
}

.chapterMenu{
	margin-bottom:5px;
	margin-top:5px;
	position:relative;
}

.titleTab{
	padding: 10px 15px;
	background-color:#eeeeee;
	cursor: pointer;
	
}

.titleTab:hover{
	background-color:#00eeee;
}

.subTab{
	padding:20px 15px 30px 30px;
	cursor:pointer;
	
}