.left-col {
	float:left;
	width:200px;
}

.main-col{
	float:left;
	width:700px;
	
}

.right-col {
	float:right;
	width:200px;
	
}



.tab {
	height:50px;
	width:150px;
	padding-left:25px;
}