<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.CourseMapper">

<resultMap type="Course" id="courseMap">
	<result property="id" column="id"/>
	<result property="teacherName" column="teacherName"/>
	<result property="content" column="content"/>
	<result property="courseName" column="courseName"/>
	<result property="date" column="date"/>
</resultMap>

  <insert id="addCourse" parameterType="Course">
      insert into course(teacherName,content,courseName,date) values(#{teacherName},#{content},#{courseName},now())
  
  </insert>
  
  <delete id="deleteCourse" parameterType="int">
  		delete from course where id=#{i}
  
  </delete>
  
  <select id="getCoursesByName" parameterType="Course" resultMap="courseMap">
  		select * from course where name=#{courseName}
  </select>
  
  <select id="getCoursesByCategory" parameterType="Course" resultMap="courseMap">
  		select * from course where category=#{category}
  </select>
  
  <select id="getCoursesByTeacher" parameterType="Course" resultMap="courseMap">
  		select * from course where name=#{teacherName}
  </select>
  
  <select id="getCoursesByID" parameterType="int" resultMap="courseMap">
  		select * from course where id=#{id}
  </select>
  
  <select id="getCount" parameterType="Course" resultType="int">
  		select count from course id=#{i}
  		
  </select>

</mapper>
