<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NoticeMapper">
    <resultMap type="Notice" id="noticemap">
      <result property="id" column="id"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="post_time" column="post_time"/>
   </resultMap>
   
   <select id="getAllNotices" resultMap="noticemap">
   	select * from notice;
   </select>
   
   <select id="getNoticesByPage" parameterType="Notice" resultMap="noticemap">
       select * from notice order by post_time limit #{start},#{pageSize}
   </select>
   
   <select id="getTotal" resultType="int">
       select count(*) from notice
   
   </select>
  </mapper>