<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <typeAliases>
       
       
       <typeAlias type="com.po.ATestUser" alias="ATestUser"/>
       <typeAlias type="com.po.Chapter" alias="Chapter"/>
       <typeAlias type="com.po.Subchapter" alias="Subchapter"/>
       <typeAlias type="com.po.Course" alias="Course"/>
       <typeAlias type="com.po.Video" alias="Video"/>
 
       
       
     </typeAliases>

     <mappers>
       <package name="com.mapper"/>
     </mappers>
    
</configuration>
