<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.VideoMapper">

<resultMap type="Video" id="videoMap">
	<id property="id" column="id"/>
	<result property="name" column="name"/>
	<result property="sectionId" column="section_id"/>

</resultMap>

<select id="getVideos" parameterType="Section" resultMap="videoMap">

	select v.name as name, c.name as section_name, v.id as id, c.id as section_id from video v join section sc on v.section_id=sc.id where sc.id=#{sectionId}

</select>
   
</mapper>