<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	<!-- Spring读取属性文件配置 -->
	
	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/btest?useUnicode=true&amp;characterEncoding=utf8"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123"></property>
		<!-- 初始化的连接数 -->
		<property name="initialSize" value="1"></property>
		<!-- 连接池的最大连接数-->
		<property name="maxActive" value="3"></property>
		<!-- 最大的空闲的连接数 -->
		<property name="maxIdle" value="3"></property>
		<!-- 最小的空闲连接数 -->
		<property name="minIdle" value="2"></property>
	</bean>
    <!-- 配置SqlSessionFactory -->	
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
	   <!-- 指定数据源 -->
	   <property name="dataSource" ref="dataSource"></property>
	   <!-- 指定mybatis核心配置文件 -->
	   <property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	
	<!-- mapper接口映射 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	      <property name="basePackage" value="com.mapper"></property>
	</bean>

	
	<!-- 定义事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务管理注解驱动 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	
	
	<!-- <tx:advice id="txAdvice" transaction-manager="txManager">
	   <tx:attributes >
	      <tx:method name="add*" propagation="REQUIRED"/>
	   </tx:attributes>
	
	</tx:advice>
	
	
	<aop:config>
	    <aop:pointcut expression="execution(* com.neusoft.service.impl.*.*(..))" id="mycut"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="mycut"/>
	</aop:config> -->
	
	
	
</beans>